[submodule "modules/Core"]
	path = modules/Core
	url = https://github.com/hafijul233/core-module.git
[submodule "modules/Admin"]
	path = modules/Admin
	url = https://github.com/hafijul233/admin-module.git
